@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-family: Poppins, sans-serif;
}

#container {
  display: flex;
  align-items: center; // Horizontal when flex-direction: column;
  justify-content: center; // Vertical when flex-direction: column;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

// ## [START] ---------------- Score ---------------- [START]

.score_outer_div {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#score {
  margin-right: 8%;
  margin-top: 4%;
}

// ## [END] ---------------- Score ---------------- [END]

// ## [START] ---------------- Equation ---------------- [START]

.equation_outer_div {
  height: 100vh;
}

.equation {
  font-size: 2rem;
  font-weight: 700;
  margin: 6px;
}

.top {
  display: flex;
}

.bottom {
  display: block;
  text-align: center;
}

.answer_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#answer {
  all: unset;
  border: 2px solid black;
  border-radius: 8px;
  margin-left: 15px;
  width: 75px;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 3px;
}

#submit_button {
  display: none;
}

// ## [END] ---------------- Equation ---------------- [END]

// ## [START] ---------------- The End ---------------- [START]

.the_end {
  text-align: center;
  height: 300vh;
}

#end_title {
  font-size: 3rem;
  font-weight: 700;
}

#end_subtitle {
  font-size: 1.1rem;
  font-weight: 500;
}

#restart_button {
  all: unset;
  border: 2px solid #2d2d2d;
  border-radius: 10px;
  padding: 6px;
  margin-top: 10px;
}

#restart_button:hover {
  transition-duration: 0.35s;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

// ## [END] ---------------- The End ---------------- [END]
// ! Hiding arrow up and down button when entering number in input
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

Firefox input[type="number"] {
  appearance: textfield;
}

// ! Changing placeholder color in number input
::placeholder {
  // Chrome, Firefox, Opera, Safari 10.1+
  color: #898989;
  opacity: 1; // Firefox
}

:-ms-input-placeholder {
  // Internet Explorer 10-11
  color: #898989;
}

::-ms-input-placeholder {
  // Microsoft Edge
  color: #898989;
}
